.red {
    color: red;
}

.redBorder {
    border: 2px solid red;
    text-align: center;
    border-radius: 10px;
    background: lightgrey;
    font-size: 25px
}

.green {
    color: green;
}

.greenBorder {
    border: 2px solid green;
    text-align: center;
    border-radius: 10px;
    background: lightgrey;
    font-size: 25px
}

.blue {
    color: blue;
}

.blueBorder {
    border: 2px solid blue;
    text-align: center;
    border-radius: 10px;
    background: lightgrey;
    font-size: 25px
}
