<h1 style="color:#59B149; padding-left:20px">Albums</h1>
<hr />
<div style="padding: 0px 0px 0px 20px">
    <a class="btn btn-success" href="/Albums/Create">Create Album</a>
</div>
<hr />
<p style="padding-left:20px"></p><div style="padding-left:20px">
    <a href="/Albums/Details?id=04790d97-d0e0-4b55-abe4-452392870784">MaaFaka</a>
</div>
<div style="padding-left:20px">
    <a href="/Albums/Details?id=e9596139-3ca4-48a5-84d5-3f003e4b6205">PeshoIvan</a>
</div>
<div style="padding-left:20px">
    <a href="/Albums/Details?id=ed963504-e701-4d32-94b8-d15928bd8cc3">Gosho</a>
</div>
