<div style="padding-left:20px">
    <img src="image.jpg" alt="The album picture" style="width:480px;height:480px;" />
</div>
<br />
    <h3 style="padding-left:20px">
        Name: PeshoIvan
    </h3>
    <h3 style="padding-left:20px">
        Price: &dollar;1942.71
    </h3>
<br />
<br />
    <h3 style="padding-left:20px">
        Tracks
    </h3>
<hr />
    <div style="padding-left:20px">
        <a class="btn btn-success" href="/Tracks/Create?albumId=e9596139-3ca4-48a5-84d5-3f003e4b6205">Create Track</a>
    </div>
<hr />
<ul>
    <li><a href="/Tracks/Details?albumId=e9596139-3ca4-48a5-84d5-3f003e4b6205&trackId=b9a134c0-d314-40fa-a4c0-6740bb988978">Metallica</a></li>
<li><a href="/Tracks/Details?albumId=e9596139-3ca4-48a5-84d5-3f003e4b6205&trackId=da4e67ec-5b56-47d7-9ab5-6b55fa26c526">Sepultura</a></li>
</ul>
<hr />
<div style="padding-left:20px">
    <a class="btn btn-success" href="/Albums/All">Back to all</a>
</div>