<form method="post" action="/Albums/Success" style="text-align: center">
    <h1 style="color: #59B149">Create Album</h1>
    <hr />
    <div class="form-group col-md-12" style="padding: 0px 400px 0px 400px">
        <label style="padding-right: 530px">Name</label>
        <input type="text" name="albumName" placeholder="Name..." class="form-control" />
    </div>
    <div class="form-group col-md-12" style="padding: 0px 400px 0px 400px">
        <label style="padding-right: 530px">Cover</label>
        <input type="text" name="cover" placeholder="Cover..." class="form-control"/>
    </div>
    <hr />
    <div>
        <input class="btn btn-success" type="submit" value="Create" />
        <a class="btn btn-success" href="/Albums/All">Back to all</a>
    </div>
</form>
<hr />