<div style="background-color: #59B149">
    <h1 style="color: white; padding: 20px 0px 15px 20px">Welcome to IRunes</h1>
    <hr style="height: 5px; padding-left: 20px; color: #59B149" />
    <p style="padding:5px 0px 6px 20px"">
        <a style="color: yellow" href="/Users/Login">Login</a><span style="color: white"> if you have an account.</span>
    </p>
    <p style="padding:0px 0px 25px 20px">
        <a style="color: yellow" href="/Users/Register">Register</a><span style="color: white"> if you don't.</span>
    </p>
</div>

