<form method="post" action="/Users/Login" style="text-align: center">
    <h1 style="color: #59B149">Login</h1>
    <hr style="height: 5px; padding-left: 20px; color: #59B149" />
    <div class="form-group col-md-12" style="padding: 0px 400px 0px 400px">
        <label style="padding: 0px 450px 0px 0px">Username/Email</label>
        <input type="text" name="username" placeholder="Username/Email" class="form-control" />
    </div>
    <br />
    <div class="form-group col-md-12" style="padding: 0px 400px 0px 400px">
        <label style="padding: 0px 495px 0px 0px">Password</label>
        <input type="password" name="password" placeholder="Password" class="form-control" />
    </div>
    <div>
        <input class="btn btn-success" type="submit" value="Login" style="color:white" />
    </div>
</form>
